apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobsf
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mobsf
  template:
    metadata:
      labels:
        app: mobsf
    spec:
      containers:
      - name: mobsf
        image: opensecurity/mobile-security-framework-mobsf:latest
        ports:
        - containerPort: 8080